@import "../../../common/sass/variables";
@import "../../../common/sass/mixins";

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 3vh;
  text-align: center;
  padding: 1vh;
  //background-color: $primaryColor;
  //border: 1px solid;
  border-radius: 10px;
  height: 220px;
  width: 105px;
  //border-radius: 2% 65% 10% 90% / 81% 10% 87% 15%;
  transition: all ease 1s;

  .icon {
    @include imageCenterProperty();
    min-height: 10vh;
    min-width: 10vh;
    position: relative;
    transition: all ease 1s;
  }

  .text {
    @include textDescription();
  }
}


