.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    padding: 1vh;
    background-color: #A5E6E1;
    border: 1px solid;
    border-radius: 10px;
    min-height: 30vh;
    /*width: 30vh;*/
    width: 250px;
}

.icon {
    border: 1px solid;
    min-height: 10vh;
    width: 10vh;
    display: flex;
    /*text-align: center;*/
    justify-content: center;
    align-items: center;
}

.text {
    border: 1px black solid;
    width: 90%;
    font-family: 'Montserrat Alternates', sans-serif;
    /*min-height: 10vh;*/
    /*width: 25vh;*/
    /*display: flex;*/
    /*text-align: center;*/
    /*justify-content: center;*/
    /*align-items: center;*/
}