@import "../../common/sass/variables";
@import "../../common/sass/mixins";

.generalBlock {
  @include generalBlock();
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: $backgroundColorSecond;
  min-height: 80vh;
  height: auto;
  z-index: 2;

  .container {
    @include container();
    min-height: 80vh;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 10vh;

    .formBlock {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      min-height: 60vh;
      border-radius: 20px;
      min-width: 360px;
      width: 100%;
      max-width: 70vh;
      background-color: $primaryColor;
      @include form();

      .inputs {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        width: 100%;
      }

      .resultMessage {
        @include textDescription();
        font: $fontFamilyTitleH5;
        text-align: center;
        font-size: 18px;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 0.18em;
        line-height: 1.5;
        padding: 0;
        min-height: 40px;
        width: auto;
        color: $textErrorColor;

        .loading {
          color: $textColor;
        }

        .done {
          color: $secondary;
        }
      }
    }
  }
}


