.generalBlock {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    min-height: 100vh;
    height: auto;
}

.container {
    min-height: 100vh;
    height: auto;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 10vh;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #A5E6E1;
    border: 1px solid;
    border-radius: 20px;
    height: 50vh;
    width: 90%;
}

.contact form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 300px;
    width: 90%;
}

.contact button {
    border-radius: 10px;
    background-color: #50b5ae;
    width: 25%;
    min-width: 180px;
    height: 10%;
}