@font-face {
    font-family: 'Colus';
    src: url('fonts/Colus.woff2') format('woff2'),
    url('fonts/Colus.ttf') format('truetype'), /* Только если нужна поддержка старых Android, иначе закомментировать */ url('fonts/Colus-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.container {
    width: 80%;
    height: 100%;
    border: 1px rgb(0, 0, 0) solid;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.generalBlock {
    /*background-color: #181818;*/
    background-color: rgba(213, 210, 210, 0.55);
    align-items: center;
    height: 100vh;
}

.titleH3 {
    font-family: 'Colus', sans-serif;
    /*background-color: #50B5AE;*/
    text-align: center;
    min-width: 200px;
    font-size: 30px;
    letter-spacing: 5px;
    font-weight: 600;
    margin: 0;
    position: relative;
}

.titleH3::before {
    content: '';
    width: 60%;
    height: 2px;
    background-color: #3cffe4;
    position: absolute;
    top: 125%;
    left: 50%;
    transform: translate(-50%, 0);
}

.titleH5 {
    font: 200 16px/1.7 Kanit, sans-serif;
    text-align: center;
    font-size: 18px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.18em;
    line-height: 1.5;
    color: #555;
    margin: 30px;
}

.text {
    text-align: center;
    /*margin-top: 30px;*/
    font: 200 16px/1.7 Kanit, sans-serif;
    letter-spacing: 0.03em;
    color: #555;
    background-color: #fff;
    -webkit-font-smoothing: antialiased;
}

