
.container {
    width: 80%;
    height: 100%;
    border: 1px rgb(0, 0, 0) solid;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.generalBlock {
    /*background-color: #181818;*/
    background-color: rgba(213, 210, 210, 0.55);
    align-items: center;
    height: 100vh;
}


/*width: 80%;*/
/*height: 100%;*/
/*border: 1px rgba(0, 0, 0, 0.5) solid;*/
/*margin: 0 auto;*/
/*display: flex;*/
/*align-items: center;*/
/*justify-content: space-evenly;*/
/*flex-wrap: wrap*/
