@import "../../sass/variables";
@import "../../sass/mixins";

.titleH3 {
  font-family: $fontTitleH3;
  color: $titleColor;
  text-align: center;
  min-width: 200px;
  font-size: 30px;
  letter-spacing: 5px;
  font-weight: 600;
  margin: 8vh 0 0 0;
  position: relative;

  &::before {
    content: '';
    width: 60%;
    height: 2px;
    background-color: $primaryColor;
    position: absolute;
    top: 125%;
    left: 50%;
    transform: translate(-50%, 0);
  }
}

.titleH5 {
  @include titleH5();
}