@import "./variables";

@mixin textDescription() {
  text-align: center;
  font: $textFontDescription;
  letter-spacing: 0.03em;
  color: $textColor;
  background-color: $primaryColor;
  -webkit-font-smoothing: antialiased;
  border-radius: 0 0 15px 15px;
  padding: 2%;
}

@mixin generalBlock() {
  background-color: $backgroundColorFirst;
  align-items: center;
  height: 100vh;
}

@mixin container() {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 0 0 5vh 0;
}

@mixin imageCenterProperty() {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@mixin form() {
  .divForm {
    position: relative;
    padding: 15px 0 0;
    min-width: 400px; // почему-то на ширину inputs влияет только минимальное значение
    width: auto;
    max-width: 1000px;
    height: auto;
    transition: 0.7s;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  input {
    font-family: inherit;
    width: 80%;
    border: 0;
    border-bottom: 2px solid $gray;
    outline: 0;
    font-size: 1.3rem;
    color: $white;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.7s;
    -webkit-box-shadow: 0 0 0 1000px $primaryColor inset;

    &::placeholder {
      color: transparent;
    }

    &:placeholder-shown ~ .inputLabel {
      font-size: 1.3rem;
      cursor: text;
      top: 20px;
    }

    &:-webkit-autofill {
      -webkit-box-shadow: 0 0 0 1000px $primaryColor inset;
      -webkit-text-fill-color: $textColor;
    }

    &:-webkit-autofill:focus {
      -webkit-text-fill-color: $textColor;
    }
  }

  .inputLabel {
    position: absolute;
    top: 0;
    display: block;
    transition: all linear .7s;
    font-size: 1rem;
    color: $gray;
  }

  input:focus {
    ~ .inputLabel {
      position: absolute;
      top: 0;
      display: block;
      transition: 0.7s;
      color: $primary;
    }

    padding-bottom: 6px;
    border-image: linear-gradient(to right, $primary, $secondary);
    border-image-slice: 1;
    transition: ease 0.7s;
  }

  button:hover {
    background: $white;
    color: $backgroundColorSecond;
  }
}

@mixin titleH5() {
  font: $fontFamilyTitleH5;
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.18em;
  line-height: 1.5;
  color: $titleColor;
  margin: 30px;
}
