@font-face {
  font-family: 'Colus';
  src: url('../sass/fonts/Colus.woff2') format('woff2'),
  url('../sass/fonts/Colus.ttf') format('truetype'), url('../sass/fonts/Colus-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

// font
$fontTitleH3: 'Colus', sans-serif;
$fontFamilyTitleH5: 200 16px/1.7 Kanit, sans-serif;
$textFontDescription: 200 16px/1.7 Kanit, sans-serif;

//just color
$white: #fff;
$black: black;

// $shadowColor
$shadowColor: rgba(0, 255, 192, 0.29);

//backGroundColor
$backgroundColorFirst: #191b1d;
$backgroundColorSecond: #131517;

//PrimaryColor
$primaryColor: #185672;
//$primaryColor: #11998EFF;

//TextColor
$titleColor: $white;
$textColor: $white;
$textErrorColor: rgb(255, 100, 247);

//Color
$backgroundButtonColor: rgba(0, 0, 0, 0.83);

// border radius
$textRadius: 10px;
$boxRadius: 20px;

// forms
$primary: #11998e;
$secondary: #38ef7d;
$white: #fff;
$gray: #9b9b9b;


// z-index navigation
$navigation_GeneralBlock: 50;
$navigation_Blur: 51;
$navigation_Buttons: 52;
$navigation_HandleButtonMenu: 53;
