@font-face {
  font-family: 'Colus';
  src: url('../sass/fonts/Colus.woff2') format('woff2'),
  url('../sass/fonts/Colus.ttf') format('truetype'), url('../sass/fonts/Colus-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

// font
$fontTitleH3: 'Colus', sans-serif;
$fontFamilyTitleH5: 200 16px/1.7 Kanit, sans-serif;
$textFontDescription: 200 16px/1.7 Kanit, sans-serif;


//just color
$whit: #fff;
$black: black;


//backGroundColor
$backgroundColorFirst: #191b1d;
$backgroundColorSecond: #131517;

//PrimaryColor
$primaryColor: #185672;

//TextColor
$titleColorH3: $whit ;
$textColor: $black;
$navigationTextColor: $whit;

//Color
$backgroundTextColor: $whit;
$backgroundButtonColor: rgba(0, 0, 0, 0.83);
$textButtonColor: $whit;
