@import "../../common/sass/variables";
@import "../../common/sass/mixins";

.generalBlock {
  @include generalBlock();
  height: auto;
  min-height: 100vh;
  display: flex;
  align-items: center;

  .container {
    @include container();
    //height: auto;
    //min-height: 100%;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    padding: 5vh 0 5vh 0;
    gap: 5vh;

    .text {
      padding: 1%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 90%;
      background-color: $primaryColor;
      border-radius: 10px;
      min-height: 20vh;
      transition: all ease 1s;
      @include titleH5();
      //font-size: 25px;
    }
  ;

    .photo {
      padding: 1%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      border-radius: 10px;
      width: 50vh;
      height: 70vh;
      @include imageCenterProperty();
      position: relative;
      transition: all ease 1s;
    }
  }
}

@media screen and (max-width: 1000px) {
  .text {
    /*background-color: red;*/
  }
}

.particles {
  position: absolute;
  width: 100px;
  height: 100px;
  //top: 0;
  //left: 0;
  //bottom: 0;
  //right: 0;
  opacity: 1;
  z-index: 0;
}
