@import "/src/common/sass/variables";
@import "/src/common/sass/mixins";

.generalBlock {
  @include generalBlock();
  position: relative;
  height: auto;
  min-height: 100vh;
  display: flex;
  align-items: center;

  .container {
    @include container();
    position: relative;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    padding: 5vh 0 5vh 0;
    gap: 5vh;

    .text {
      padding: 1%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 90%;
      background-color: $primaryColor;
      border-radius: 10px;
      min-height: 20vh;
      transition: all ease 1s;
      @include titleH5();
    }
  ;

    .photo {
      padding: 1%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      width: 50vh;
      height: 70vh;
      @include imageCenterProperty();
      position: relative;
      transition: all ease 1s;
      z-index: 3;
    }
  }
}

.particles {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0.2;
  z-index: 0;
}
