@import "../../common/sass/variables";
@import "../../common/sass/mixins";

.generalBlock {
  @include generalBlock();
  min-height: 90vh;
  .container {
    @include container();
    justify-content: space-around;
    gap: 5vh;
    .text {
      padding: 1%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: 70vh;
      background-color: $primaryColor;
      border-radius: 10px;
      height: 20vh;
      transition: all ease 1s;
    };
    .photo {
      padding: 1%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      border-radius: 10px;
      width: 50vh;
      height: 70vh;
      @include imageCenterProperty();
      position: relative;
      transition: all ease 1s;
    }
  }
}

@media screen and (max-width: 1000px) {
  .text {
    /*background-color: red;*/
  }
}