@import "../../common/sass/variables";
@import "../../common/sass/mixins";

.generalBlock {
  @include generalBlock();
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  align-content: space-between;
  min-height: 10vh;
  height: auto;
  background-color: $backgroundColorSecond;
  gap: 20%;
  z-index: 2;
}