.generalBlock {
    display: flex;
    flex-direction: column;
    /*background-color: rgba(0, 0, 0, 0.6);*/
    min-height: 100vh;
    height: auto;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10vh;
    align-items: center;
    flex-wrap: nowrap;
    min-height: 100vh;
    width: 80%;
    height: auto;
}


.picturesBlock {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 1vh;
    border: 1px solid;
    min-height: 60vh;
    height: auto;
    width: 90%;
    border-radius: 10px;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #A5E6E1;
    min-width: 250px;
    width: 40%;
    min-height: 50vh;
    border: 1px solid;
    border-radius: 10px;
    text-align: center;
}

.picture {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 240px;
    min-height: 50vh;
    height: 90%;
    width: 90%;
    border: 1px solid;
    border-radius: 10px;
    /*сокращение до размеров блока*/
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center ;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 240px;
    min-height: 10vh;
    width: 90%;
    border: 1px solid;
    border-radius: 10px;
}

.description h4 {
    margin: 0;
}




