@import "../../../common/sass/variables";
@import "../../../common/sass/mixins";

.navigation {

  display: flex;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  flex-wrap: wrap;
  border: 1px solid;
  padding: 5px;
  min-width: 250px;
  min-height: 5vh;
  border-radius: 10px;
  //width: 80vh;
  gap: 15px;
  font-weight: 500;
}
