@import "../../../common/sass/variables";
@import "../../../common/sass/mixins";


.navigationContainer {
  position: relative;
  padding: 0 10% 0 0;
  border: #191b1d 1px solid;
  height: 100vh;
  width: 40vh;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;

  button {
    width: 230px;
  }
}

.buttons {
  @include container();
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  justify-items: center;
  align-items: center;
  padding: 13vh 1vh 0 1vh;
  width: 250px;
  height: 100vh;
  gap: 15px;
  font-weight: 500;
  background-color: $backgroundColorFirst;
  transform: translateX(0);
  transition: all 0.5s ease-in-out;
  z-index: $navigation_Buttons;
}

.active {
  transform: translateX(-115%);
}

.handleButton {
  width: 50px;
  margin-top: 3vh;
  display: flex;
  justify-content: center;
  position: fixed;
  padding: 5px;
  transform: translateX(-200%);
  transition: all 0.5s ease-in-out;
  font-weight: bold;
  z-index: $navigation_HandleButtonMenu;


  &.active {
    width: 250px;
    transform: translateX(-115%);

    button {
      border-radius: 0;
      font-size: 18px;
    }
  }

  button {
    border-radius: 40px;
    font-size: 22px;
  }
}