@import "../../../common/sass/variables";
@import "../../../common/sass/mixins";

.navigation {
  @include container();
  display: flex;
  justify-content: flex-end;
  justify-items: center;
  align-items: center;
  flex-wrap: wrap;
  //border: 1px solid;
  padding: 5px;
  min-width: 250px;
  min-height: 5vh;
  //border-radius: 10px;
  gap: 15px;
  font-weight: 500;
  @media screen and (max-width: 850px){
    flex-direction: column;
  }
}
