
.skillsBlock {
    border-radius: 20px;
    background-color: #00ffc0;
    min-height: 100vh;
    height: auto;
    width: 100%;
}

.container {
    align-items: flex-start;
}

.title {
    background-color: dimgrey;
    text-align: center;
}

.skills {
    border: 1px solid;
    background-color: rgba(52, 46, 46, 0.46);
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    /*text-align: center;*/
}

