@import "../../common/sass/variables";
@import "../../common/sass/mixins";

.generalBlock {
  @include generalBlock();
  min-height: 30vh;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .container {
    @include container();
    min-height: 30vh;
    height: auto;
    display: flex;
    flex-direction: column;
    row-gap: 10vh;
    padding: 0;

    .cubesBlock {
      position: relative;
      padding: 1vh;
      display: flex;
      background-color: $backgroundColorSecond;
      align-items: center;
      justify-content: space-around;
      flex-wrap: wrap;
      row-gap: 1vh;
      column-gap: 1vh;
      border: 1px solid;
      border-radius: 20px;
      min-height: 10%;
      width: 80%;

      .cube {
        width: 80px;
        height: 80px;
        background-color: $primaryColor;
        border-radius: 10px;

        .icon {
          @include imageCenterProperty();
          min-height: 80px;
          min-width: 80px;
          position: relative;
          transition: all ease 1s;
        }
      }
    }
  }
}


